.container{
    align-items: center;
}
.card{
    margin-left: 34%;
    align-items: center;
    width: 400px;
    box-shadow: 0 0 10px 5px;
    background: #31f853;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4eaa68, #2ea032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4eaa68, #2ea032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.inputProduct{
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
}
hr{
    background-color: black;
    margin-top: 0%;
}
textarea{
    margin-left: 8%;
}
.botonAñadir{
    background-color: blanchedalmond;
}
.botonAñadir:hover{
    background-color: rgb(173, 248, 97);
}