.AllUsers body{
  background-color:gray;
}

.AllUsers p{
  font-weight: 900;
}


.izquierda {
    text-align: left;
  }

  



  

  .table {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    margin-left: 40px;
  }

  table tbody :hover {
    background-color: rgba(255, 255, 255, 0.7);
    color:white;
  }