.Login {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .Login body{
      background-color:gray;
    }
    
    
    .Login p{
      font-size: 150%;
    }
    
   
    
     
    
    
    
     